* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}
ul,
ul.nav {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
header h2 span {
  color: #bf0a30;
}
